<% provide(:title, 'The social network for toilet reviews.') %>

<% if !signed_in? %>
    <div class="center hero-unit">
      <h1>Welcome to ToiletMaster</h1>

      <h2>
        ToiletMaster is a social network that collects toilet reviews from toilet lovers!
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary text-white-color" %>

    </div>

<% else %>

    <div class="row">
      <aside class="span3 affix">
            <section>
              <%= render 'shared/user_info' %>
            </section>
            <section>
              <%= render 'shared/review_form' %>
            </section>
      </aside>
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3>Live Toilet Reviews Feed</h3>

        <ol id="reviews_feed" class="reviews">
          <%= render @reviews %>
          <%#= render :partial => @reviews %>
        </ol>

      </div>
    </div>
<% end %>


</body>
</html>