<footer class="footer">
  <small>
    <a href="#">ToiletMaster</a>
    by wkanchan!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'static_pages/about' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.cmu.edu/">Carnegie Mellon University</a></li>
    </ul>
  </nav>
</footer>